## Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Import data

In [11]:
df = pd.read_csv("Stockholm.csv")

In [12]:
df.head()

   year  global_avg_temp  city_avg_temp
0  1750             8.72           7.35
1  1751             7.98           6.46
2  1752             5.78           3.08
3  1753             8.39           6.18
4  1754             8.47           6.16

In [13]:
df.describe()

              year  global_avg_temp  city_avg_temp
count   264.000000       264.000000     264.000000
mean   1881.500000         8.359394       6.402159
std      76.354437         0.575184       0.944810
min    1750.000000         5.780000       3.080000
25%    1815.750000         8.077500       5.810000
50%    1881.500000         8.365000       6.345000
75%    1947.250000         8.700000       7.060000
max    2013.000000         9.730000       8.490000

In [14]:
df.dtypes

year                 int64
global_avg_temp    float64
city_avg_temp      float64
dtype: object